<div class="container py-5">
    <div class="row">
        <div class="col-3 adoptimgcontainer">
          <a href="javascript:" onclick="loadHTML('./views/index.html')"> < Regresar</a>

        </div>
        <div class="col-9">

            <h2>Ingresa tus datos para adoptar</h2>
            <form>
                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input type="text" class="form-control" id="adoptant-name" aria-describedby="Nombre" placeholder="Escribe tu nombre superheroe">
                </div>
                <div class="form-group">
                        <label for="name">Telefono</label>
                        <input type="text" class="form-control" id="adoptant-phone" aria-describedby="Nombre" placeholder="Te llamaremos en cuanto este lista la adopción">
                </div>
                <div class="form-group">
                        <label for="name">Email</label>
                        <input type="text" class="form-control" id="adoptant-email" aria-describedby="Nombre" placeholder="Si no contestas tu telefono, te mandaremos un email">
                </div>
                <button type="submit" id="submit" class="btn btn-primary btn-lg btn-block" onclick="event.preventDefault();adoptar()">Adoptar</button>
              </form>        
        </div>
    </div>
</div>